#aboutMe {
  border: 5px solid #ff9966;
  padding: 15px;
  margin: 15px;
  background-color: #ffffb3
}

#education {
  font-family: serif;
}

.myClass {
  font-style: italic;
  border: 5px solid #ff9966;
  padding: 10px;
  background-color: #e6f2ff
}

.jumbotron {
  text-align: center;
}

.myQuote {
  float: right;
}

.colory {
  color: #33ccff;
  font-style: italic;
}

.panel {
  border: 5px solid #ff9966;
}

.panel-title {
  color: #ff9966
}

.panel-body {
  background-color: #ffffb3
}

.jumbotron h1 {
  color: #ff9966;
}

.jumbotron p {
  color:  #ff9966;
}
